button:hover {
	transform: scale(1.05);
	transition: .1s ease-in;
}
button,
#button1,
.chatroomButtons,
#button2,
#button0
{
    
 font-size: 10px;
 height: 30px;
 width: 150px;

 border: none;
 box-shadow: 2px 2px 1px 1px rgba(0,0,0,.3);
 background: black;
  cursor: pointer;  
  color: white;
  margin: 1%;
}

#button1:hover,
.chatroomButtons:hover,
#button2:hover,
#button0:hover {
box-shadow: -2px 2px 1px -1px rgba(255,255,255,.1);
color: #9fd;
}

/*.chatroomButtons {
	color: white;
}

#button2{
    
   margin: 30px;
 font-size: 18px;
 height: 65px;
 width: 250px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
 background: rgb(200,100,100);
  cursor: pointer;  
    
    
}

#button0{
    
   margin: 30px;
 font-size: 18px;
 height: 65px;
 width: 250px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
 background: rgb(100,100,100);
  cursor: pointer;  
    
    
}*/

* {
   font-family: 'futura';
  font-weight: 100;
}
