.App {
  text-align: center;
}

#display {
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background-image: url("../img/monster.png");
    cursor:none;
}

#controls {
    width:30vw;
    height:75px;
    position:fixed;
    bottom:0;
    right:0;
    background-color:blue;
    border-radius: 10px;
    margin: 50px;
}

#myImg {
    position:absolute;
}

.allImgs {
    position:absolute;
}


